.login_root {
	width: 100%;
	height: 100%;
	position: relative;
	background-size: 100% 100%;
	background-clip: content-box;
	background-image: url('@/assets/background/hk1.jpg');
	background-repeat: no-repeat;

	.login_form {
		width: 300px;
		position: absolute;
		right: 200px;
		top: 200px;
		background-color: #e5e5e5;
		padding: 20px;

		.captcha_parent {
			width: 100%;
			display: flex;
			flex-flow: row nowrap;

			.captcha_input {
				flex: 1;
			}

			.captcha_wrapper {
				.captcha_img {
					width: 90px;
					height: 60px;
					background-size: 100% 100%;
					background-clip: content-box;
				}
			}
		}
	}
}
