$sidebarWidth: 220px;
$sidebarCollapseWidth: 60px;
$navbarHeight: 50px;
$hamburgerHeight: 30px;
$pageHeaderHeight: 58px;

:export {
	hamburgerHeight: $hamburgerHeight;
	sidebarWidth: $sidebarWidth;
	navbarHeight: $navbarHeight;
	pageHeaderHeight: $pageHeaderHeight;
}
